@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --text-font: 'Urbanist';
    --primary-color: slategray;
    --secondary-color: steelblue;
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: var(--text-font), sans-serif;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
}

i {
    color: var(--secondary-color);
}

.container {
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 5fr;
}

.container .left-section {
    grid-area: 1 / 1 / 4 / 2;

    display: grid;
    grid-template-rows: 1fr 4fr 5fr;

    padding: 30px;
}

.container .left-section .logo {
    display: flex;
    gap: 16px;
}

.container .left-section .logo a {
    font-size: 30px;
    font-weight: 800;
}

.container .left-section .sidebar, 
.container .left-section .toolbar {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.container .left-section .item {
    display: flex;
    align-items: center;
    gap: 16px;

    cursor: pointer;
}

.container .left-section .item a {
    font-size: 18px;
}

.container .left-section .item#active {
    background-color: white;
    border-radius: 12px;
    box-shadow: var(--secondary-color) 0px 2px 100px -8px;
    
    line-height: 2;
}

.container .top-section {
    /*border: 2px solid red;*/

    display: flex;
    align-items: center;
    justify-content: space-around;

    flex-wrap: wrap;

    margin: 20px;
    padding: 0px 40px;

    background-color: white;
    border-radius: 40px;

    box-shadow: var(--secondary-color) 0px 5px 100px -45px;
}

.container .top-section .search {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    flex-grow: 1;
}

.container .top-section .search input{
    border: 1px solid var(--secondary-color);
    border-radius: 20px;
    background-color: transparent;
    color: var(--secondary-color);

    width: 20em;

    line-height: 2;
    text-indent: 10px;

    font-size: 18px;
}

.container .top-section .search input::placeholder {
    color: var(--secondary-color);
}

.container .top-section .search input:focus-visible {
    border-color: none;
}

.container .top-section .profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    flex-wrap: wrap;
}

.container .top-section .profile p {
    font-weight: 600;
    color: var(--secondary-color);
}

.container .top-section .profile img {
    width: 60px;
    height: 60px;

    border-radius: 50%;
    border: 1px solid var(--secondary-color);
}

.main-section {
    
}







