@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --text-font: 'Urbanist';
    --primary-color: slategray;
    --secondary-color: steelblue;
    --background: lightcyan;
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: var(--text-font), sans-serif;
    
}

a {
    text-decoration: none;
    color: var(--secondary-color);
}

i {
    color: var(--secondary-color);
}

.container {
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 8fr;
}

.container .left-section {
    grid-area: 1 / 1 / 8 / 2;

    display: grid;
    grid-template-rows: 1fr 4fr 5fr;

    padding: 30px;
}

.container .left-section .logo {
    display: flex;
    gap: 16px;
}

.container .left-section .logo a {
    font-size: 30px;
    font-weight: 800;
}

.container .left-section .sidebar, 
.container .left-section .toolbar {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.container .left-section .item {
    display: flex;
    align-items: center;
    gap: 16px;

    cursor: pointer;
}

.container .left-section .item a {
    font-size: 18px;
}

.container .left-section .item#active {
    background-color: var(--background);
    border-radius: 12px;
    box-shadow: var(--secondary-color) 0px 2px 100px -8px;
    
    line-height: 2;
}

.container .top-section {
    /*border: 2px solid red;*/

    display: flex;
    align-items: center;
    gap: 40px;

    flex-wrap: wrap;

    margin: 20px 20px 0px 20px;
    padding: 0px 20px;

    background-color: var(--background);
    border-radius: 20px;

    box-shadow: var(--secondary-color) 0px 2px 100px -30px;
}

.container .top-section .search {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    flex-grow: 1;
}

.container .top-section .search input{
    border: 1px solid var(--secondary-color);
    border-radius: 20px;
    background-color: transparent;
    color: var(--secondary-color);

    width: 100%;

    line-height: 2;
    text-indent: 10px;

    font-size: 18px;
}

.container .top-section .search input::placeholder {
    color: var(--secondary-color);
}

.container .top-section .search input:focus-visible {
    border-color: none;
}

.container .top-section .profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    flex-wrap: wrap;
}

.container .top-section .profile p {
    font-weight: 600;
    color: var(--secondary-color);
}

.container .top-section .profile img {
    width: 60px;
    height: 60px;

    border-radius: 50%;
    border: 1px solid var(--secondary-color);
}

.main-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 16fr;
}

.main-section .title {
    /*grid-area: 1 / 1 / 2 / 2;*/

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 20px 20px 0px 20px;
    padding: 0px 20px;

    color: var(--secondary-color);
}

.main-section .title .btns {
    display: flex;
    align-items: center;
    gap: 16px;

    flex-wrap: wrap;
}

.main-section .title .btns button {
    color: var(--secondary-color);
    background-color: transparent;

    border: none;

    font-size: 16px;

    padding: 4px 8px;

    cursor: pointer;
}

.main-section .title .btns button:hover,
.main-section .title .btns button:hover i {
    color: white;
    background-color: var(--secondary-color);

    border: 1px solid var(--secondary-color);
    border-radius: 10px;;
}

.main-section .left {
    grid-area:  2 / 1 / 16 / 2 ;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;

    margin: 20px 20px 0px 20px;
}

.main-section .left .card {
    background-color: var(--background);

    border: 1px dashed var(--secondary-color);
    border-left: 10px solid var(--secondary-color);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.main-section .left .card h3,
.main-section .left .card a,
.main-section .left .card a i {
    color: var(--primary-color);
}

.main-section .left .card img {
    border: 1px solid var(--primary-color);

    width: 50%;
    height: 50%;
}

.main-section .left .card .links {
    display: flex;
    align-items: center;
    gap: 16px;
}

.main-section .left .card a:hover,
.main-section .left .card a:hover i {
    color: var(--secondary-color);
}









